---
export interface Props {
  tags: string[];
}

const { tags } = Astro.props;
---

<div class="flex flex-wrap gap-2">
  {tags.map((tag) => (
    <a 
      href={`/tags/${tag}`}
      class="text-xs font-medium px-3 py-1.5 rounded-full bg-primary-100 text-primary-600 hover:bg-primary-200 
      dark:bg-primary-800/50 dark:text-primary-300 dark:hover:bg-primary-700/50 transition-colors"
    >
      #{tag}
    </a>
  ))}
</div>